body {
  padding: 30px;
  margin-top: 30px;
  color: black;
  font-family: arial,sans-serif;
}

h5 {
  color: darkgray;
  background: -webkit-linear-gradient(left, #f9f9f9, transparent);
  line-height: normal;
  line-height: 35px;
  font-weight: bolder;
  font-size: 30px;
  padding-left: 15px;
  border-bottom: 3px solid darkgray;
}

.jumbotron p {
  padding: 10px;
  font-size: 17px;
  line-height: 25px;
}

.form-control {
  background-color: #f9f9f9;
  margin-bottom: 15px;
}

a {
  color: #00B7FF;
}

.footer{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  line-height: 25px;
  font-size: 12px;
  color: gray;
  text-align: center;
  background: -webkit-linear-gradient(left, transparent, #eee, transparent);
}

a .btn.btn-default{
  margin-left: 10px;
}

ul.success li, ul.info li, ul.error li{
  margin: 20px 0 20px 0;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  list-style: none;
}

ul.error li{
  color: red;
  background: #f2dede;
  border-color: #d6e9c6;
}

ul.info li{
  color: #31700f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

ul.success li{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
